body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.mainContainer,
.scoreContainer,
.buttonContainer,
.commentaryContainer,
.endScreen {
    display: flex;
}

.mainContainer{
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.buttonContainer,
.scoreContainer,
.commentaryContainer {
    width: 90vw;
    gap: 15px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.scoreContainer {
    flex-direction: column;
}

.score {
    font-size: 40px;    
}

.commentary {
    padding: 10px;
    font-size: 30px;
    text-align: center;
    border-style: dotted;
    max-width: 500px;
    flex: auto;
    
}

.button,
.restartButton {
    height: 100px;
    min-width: 100px;
    max-width: 100px;
    border-radius: 50px;
    border-color: aquamarine;
    border-style: solid;
    padding: 10px;
    background: linear-gradient(270deg, #13547a 0%, #80d0c7 100%);
    font-size: 50px;
    transition: all .2s ease-in-out;
}

.endScreen {
    flex-direction: column;
    font-size: 50px;
    height: 100vh;
    gap: 50px;
    align-items: center;
    justify-content: center;
    display: none;
    
}

.button:hover,
.restartButton:hover {
    transform: scale(1.1);
}